<!DOCTYPE html>
<html>
<head>
    <title>Login - PlayNova</title>
</head>
<body style="text-align:center; font-family:Arial;">

    <h1>🎮 PlayNova Learn</h1>

    <h2>Login</h2>
    <form action="/login" method="post">
        <input name="username" placeholder="Username"><br><br>
        <input name="password" type="password" placeholder="Password"><br><br>
        <button>Login</button>
    </form>

    <h2>Signup</h2>
    <form action="/signup" method="post">
        <input name="username" placeholder="Username"><br><br>
        <input name="password" type="password" placeholder="Password"><br><br>
        <button>Signup</button>
    </form>

</body>
</html>
